@import "../../utils/rules.scss";

.owl-carousel {


    .slide-item {
        box-shadow: 0px 4px 11px 0px #1B75BC14;
        background-color: #fff;
        border-radius: 25px;
        margin: 0 auto !important;
        // overflow: hidden;
        img {
            max-width: 100%;
            border-radius: 25px 0 0 25px;
            
    object-fit: cover;
        }

        .desc {
            font-size: 18px;
            line-height: 28px;
            font-weight: 400;
            word-wrap: break-word;
            margin: 15px 0 32px 0;
            color: $greyColor;
        }

        .name {
            font-size: 20px;
            font-weight: 700;
            line-height: 20px;
            margin-bottom: 12px;
        }

        .jobtitle {
            color: $greyColor;
            font-size: 16px;
            line-height: 18px;
            font-weight: 400;
        }
    }

    .owl-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .owl-prev , .owl-next{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            box-shadow: 0px 0px 10px 0px #00000014;
            background-color: #fff !important;
            span{
                font-size: 30px;
            }
            &:hover{
                background-color: #fff !important;
                span{
                
                    color: #000;
                }
            }
            
        }

        .owl-prev {
            left: -70px;
        }
        .owl-next{
            right: -70px;
        }
    }

    .owl-dots {
        display: none;
    }
}



// @media screen and (max-width: 576px ) {
//     .owl-carousel{
//         .owl-nav{
//             display: none;
//         }
//     }
// }   

@media(max-width:767px) {
    .owl-carousel .owl-nav .owl-prev {
        display: none;
        // left: 5%;
    }
    .owl-carousel .owl-nav .owl-next {
        display: none;
        // right: 5%;
    }
    .slide-item {
        max-width: 350px;
        width: 100%;
    }
    // .owl-carousel .owl-nav .owl-prev, .owl-carousel .owl-nav .owl-next {
    //     top: 115%;
    // }
    // .owl-carousel.owl-loaded {
    //     margin-bottom: 30px;
    // }

    .owl-carousel .owl-stage-outer {
        overflow: hidden;
}
}