@import "../../utils/rules.scss";

.projects::after{
    content: "";
    display: block;
    position: absolute;
    right: 0;
    width: 433px;
    height: 700px;
    background-image: url(../../../public/assets/images/ellips.png);
    top: 15%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    z-index: -1;
}
.projects::before{
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 433px;
    height: 700px;
    background-image: url(../../../public/assets/images/el-left.png);
    top: 75%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    z-index: -1;
}
.projects {
    position: relative;
    // background-image: url("../../../public/assets/images/ellips.png"), url("../../../public/assets/images/el-left.png");;
    // background-position: top right, bottom left;
    // background-repeat: no-repeat;

    // .projectWidth {
    //     max-width: 950px !important;
    // }
    .project {

        img {
            max-width: 100%;
            // border-bottom-left-radius: 20px;
            // border-bottom-right-radius: 20px;
            border-radius: 20px;
            transition: transform 0.3s ease-in-out
        }

        img:hover {
            // box-shadow: 0 0 25px rgba(94, 138, 255, 0.2);
            transform: scale(1.01)
        }

        .bottom {
            margin: 40px 0 30px 0;

            .title {
                margin-bottom: 18px;
                font-size: 30px;
                font-weight: 700;
                line-height: 39.6px;
            }

            .desc {
                font-size: 18px;
                font-weight: 400;
                line-height: 30px;
                letter-spacing: 0em;
                text-align: left;
                color: $greyColor;
            }
        }
        &.pushed-down{
            margin-top: 63px;
        }
    }

}

@media(max-width:767px){
    .project{
        margin: 63px auto;
    }
}