.clients{
    margin-bottom: 70px;
}

// CTA button animation
@keyframes bounce {
    0% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
    100% { transform: translateY(0); }
  }
  
  .clients-icons {
    position: relative;
    animation: bounce 4s infinite;
  }

@media  screen and (max-width: 992px) {
    .clients{
 .clients-items {
    display: flex;
    text-align: center;
    overflow: auto;
}
        .client{
            width: 100% !important; 
            margin: 30px;
        }
    }
}