.clients{
    margin-bottom: 70px;
}

@media  screen and (max-width: 992px) {
    .clients{
 .clients-items {
    display: flex;
    text-align: center;
    overflow: auto;
}
        .client{
            width: 100% !important; 
            margin: 30px;
        }
    }
}