.background {
    margin-top: 85px;
    background-color: #F1F6FF;
    width: 100%;
    height: auto;
}

.mainTitle {
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    padding: 91px 0 40px 0;
}

.mainTitle h1 {
    color: #000;
}

.mainTitle span {
    color: #1B75BC;
}

.webServices {
    background-color: #fff;
    border-radius: 40px;
}

.webServices img {
    width: 100%;
}

.paddingBottom {
    padding-bottom: 89px;
}

.bottomSection {
    padding: 22px;
}

.serviceTitle {
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    padding: 17px 0 13px;
}

.subTitle {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #8A8A8A;
}

.subTitle span {
    font-size: 22px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    color: #1B75BC;
    padding-left: 13px;
}

.description {
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #8A8A8A;

}

.button {
    background: #1B75BC;
    color: #fff;
    width: 100%;
    padding: 15px 29px;
    margin: auto;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0.01em;
    text-align: center;
}

.rightSide {
    width: 967px;
}

.leftSide {
    width: 276px;
    border-right: 5px solid #1B75BC;
    overflow: auto;
}

.leftSide::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

.leftSide a {
    text-decoration: none;
}

.paddingGap {
    padding-left: 30px;
    gap: 30px 0;
}

.servicesItemActive {
    width: 233px;
    height: 202px;
    border-radius: 20px;
    background-color: #1B75BC;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.servicesItemNotActive {
    width: 233px;
    height: 202px;
    border-radius: 20px;
    background-color: #fff;
    color: #000;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
}

// .servicesAlign {
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }

.servicesAlign h3 {
    font-size: 19px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0em;
    margin-top: 15px;
}

@media(max-width:1199px) {
    .servicesItemActive, .servicesItemNotActive {
        width: 190px;
        height: 190px;
    }
}

@media(max-width:991px) {
    .leftSide {
        display: flex;
        flex-direction: row;
        border-right: none;
        gap: 48px;
        margin-bottom: 50px;
    }

    .servicesAlign {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 15px;
        gap: 15px;
    }

    .servicesItemActive, .servicesItemNotActive {
        width: 215px;
        height: 150px;
        margin: 0;
    }

    .paddingGap {
        padding: 0;
    }
}

.bgRemoved {
    background-color: #fff;
}