
.productBackground {
    background-size: cover;
    background-image: url("../../public/assets/images/hero1.png"),
        url("../../public/assets/images/hero3.png");
        margin-top: 85px;
}

.productImage img {
    margin: 90px 0;
    max-width: 100%;
    width: 100%;
}

.productContent {
    display: flex;
    align-items: center;
}

.productContent h1 {
    font-size: 35px;
    font-weight: 500;
    line-height: 46px;
    letter-spacing: 0em;
}

.productContent h3 {
font-size: 26px;
font-weight: 700;
line-height: 40px;
letter-spacing: 0em;
color: #1B75BC;
padding-top: 8px;
}

.productContent p {
font-size: 18px;
font-weight: 400;
line-height: 28px;
letter-spacing: 0em;
padding-top: 26px;
}

// .spaceAround {
//     padding: 12px 26px;
// }

.payNow {
    // width: 225px;
    // height: 48px;
    padding: 12px 80px;
    border-radius: 50px;
    background-color: #1B75BC;
    color: #fff;
    border: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.01em;
    overflow: hidden;
    position: relative;
}

.payNow::before {
    content: "10% Discount";
    width: 10px;
    background-color: #EE5B5B;
    color: #fff;
    font-size: 8px;
    font-weight: 500;
    line-height: 12px;
    letter-spacing: 0em;
    position: absolute;
    left: 140px;
    width: 45%;
    transform: rotate(45deg);
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.payLater {
    padding: 12px 80px;
    border-radius: 50px;
    background: #1b75bc1a;
    color: #1B75BC;
    border: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.01em;
}

.nowLater {
    display: flex;
    align-items: center;
    margin-top: 40px;
    gap: 23px;
}

.discountButton {
    margin-top: 30px;
    border: 1px dashed #1B75BC;
    padding: 0 108px;
    // width: 75%;
    background-color: transparent;
    border-radius: 50px;
    color: #1B75BC;
    display: flex;
    align-items: center;
    // text-align: center;
    justify-content: center;
}

.discountButton p {
    font-size: 16px !important;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.01em;
    padding: 12px 0;
    margin-bottom: 0 !important;
}

.discount {
    display: flex;
    align-items: center;
    gap: 10px;
}

.cs-select {
    width: 225px;
    height: 48px;
    border-radius: 50px;
    border: 1px solid #1B75BC;
    background: transparent;
    color: #000;
    padding: 12px 26px;
    font-family: DM Sans;
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0em;
    appearance: none;
    background-image: url("../../public/assets/images/singleProduct/arrow-down.png");
    background-repeat: no-repeat;
    background-position: right 1rem center;
    background-size: 14px;
}

.cs-select option {
    font-size: 16px;
    border: 1px solid #1B75BC;
    padding: 12px 26px;
}

select:focus-visible{
    outline: none;
}

.mobileDropdown {
    display: flex !important;
    justify-content: flex-start !important;
    align-items: center !important;
}


// @media (max-width:1200px) {
//     .discountButton {
//         width: 88%;
//     }
// }

@media (max-width:991px) {
    .discountButton {
        margin-bottom: 60px;
    }
}

@media (max-width:515px) {

    .payNow, .payLater {
        padding: 12px 50px;
        font-size: 13px;
    }

    .payNow::before {
        left: 80px;
        width: 60%;
    }

    .mobileDropdown {
        display: flex !important;
        // justify-content: center !important;
        align-items: center !important;
    }

    .productContent h1 {
        font-size: 22px!important;
        line-height: 29px!important;
        margin-bottom: 10px!important;
        // text-align: center;
    }

    .productContent h3 {
        font-size: 18px!important;
        line-height: 29px!important;
        margin-bottom: 10px!important;
        // text-align: center;
    }

    .productContent p {
        font-size: 14px!important;
        line-height: 24px!important;
        // margin-bottom: 16px!important;
        // text-align: center;
    }
    
    .discountButton {
        padding: 0 50px;
    }

    // .discountButton p {
    //     font-size: 14px;
    // }

    .nowLater {
        flex-direction: row;
        align-items: center;
    }
}

@media (max-width:400px) {
    .discountButton p {
        font-size: 13px !important;
    }
}