@import "../../utils/rules.scss";
.section-title{
    text-align: center;
    .header{
        padding-top: 90px ;
        padding-bottom:40px ;
        span{
            margin: 0 5px;
            font-size: 40px;
            font-weight: 700;
            line-height: 52.08px;
            &.colored{
                color: $mainColor;
            }
        }
    }
}
@media(max-width:767px){
    .section-title .header{
        padding-top: 50px !important;
        padding-bottom: 14px !important;
    }
    .services {
        padding-bottom: 16px !important;
    }
}